@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Jura');

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color:#A8DADC;
  margin: auto;
  padding-top: 75px;
}
p {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;

}
h1 {
  font-family: 'Jura', sans-serif;
  line-height: 150%;
  font-size: 50px;
  font-weight: normal;
  text-indent: 10px;
  color: #1D3557;
}
h2 {
  font-family: 'Jura', sans-serif;
  line-height: 150%;
  font-size: 30px;
  font-weight: normal;
  text-indent: 30px;
  color: #1D3557;
  padding: 20px 0 0 50px;
}

.section {
  background-color: #F1FAEE; 
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 25px;
}

/*-----navbar-----*/
#navigation a {
    position: absolute;
    left: -115px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    font-size: 22px;
    color: #F1FAEE;
    border-radius: 0 5px 5px 0;
    text-align: left;
}
#navigation a:hover {
    left: 0;
} 
#intro-nav {
    top: 20px;
    background-color: #F1FAEE;
    color: #1D3557 !important;
}
#about-nav {
    top: 80px;
    background-color: #457B9D;
}
#portofolio-nav {
    top: 140px;
    background-color: #1D3557;
}
#contact-nav {
    top: 200px;
    background-color: #E63946;
}

/*-----intro-----*/
#intro-section {
  text-align: center;
  padding-top: 75px;
}
.intro p {
  font-family: 'Jura', sans-serif;
  font-size: 25px;
}
.profilePicture {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

/*-----about-----*/
#about-section .row {
  margin-left: 5%;
}

}
.psu-coe-logo, .chfp-logo {
  width: 300px;
  max-width: 100%;
  height: auto;
}
.education .name,
.volunteer .name {
  font-family: 'Jura', sans-serif;
  font-size: 25px;
}

/*-----portofolio-----*/

/*-----social-media-----*/
#social-media-section {
  margin: auto;
  padding: 50px;
  background: #E63946;
  text-align: center;
}
#social-media-section ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
#social-media-section ul li {
  list-style: none;
}
#social-media-section ul li a {
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
#social-media-section ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}
#social-media-section ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}
#social-media-section ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .7s;
  z-index: 2;
}
#social-media-section ul li a:hover:before {
  top: 0;
}
#social-media-section ul li:nth-child(1) a:before {
  background: #3b5998;
}
#social-media-section ul li:nth-child(2) a:before {
  background: #c13584;
}
#social-media-section ul li:nth-child(3) a:before {
  background: #007bb5;
}
#social-media-section ul li:nth-child(4) a:before {
  background: #006400;
}
#social-media-section ul li:nth-child(5) a:before {
  background: #0ebeff;
}
#social-media-section ul li:nth-child(6) a:before {
  background: #000000;
}