@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.navbar {
  background-color: black;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 75px;
}

#home {
  background-size: cover;
  padding: 15% 0 30% 0;
}

#about {
}

h1 {
  color: black;
  font-family: Verdana;
  text-shadow: 3px 3px 2px lightblue;
  font-size: 35px;
  padding: 20px;
  border: 5px solid white;
  display: inline;
}

h2 {
  font-family: Verdana;
  font-weight: bold;
  color: #262626;
  font-size: 50px;
  margin: 50px 0 50px 0;
}

.whoAmI {
  font-family: "Ubuntu";
  font-size: 1.5em;
  text-align: left;
  line-height: 1em;
}

p {
  text-indent: 5%;
}

#social-media {
  margin: 50px;
  padding: 50px;
  background: #262626;
  text-align: center;
}
#social-media ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#social-media ul li {
  list-style: none;
}
#social-media ul li a {
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

#social-media ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}
#social-media ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}
#social-media ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .7s;
  z-index: 2;
}
#social-media ul li a:hover:before {
  top: 0;
}
#social-media ul li:nth-child(1) a:before {
  background: #3b5998;
}
#social-media ul li:nth-child(2) a:before {
  background: #c13584;
}
#social-media ul li:nth-child(3) a:before {
  background: #007bb5;
}
#social-media ul li:nth-child(4) a:before {
  background: #006400;
}
#social-media ul li:nth-child(5) a:before {
  background: #0ebeff;
}
#social-media ul li:nth-child(6) a:before {
  background: #000000;
}